
a:visited {
  color: white;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "chanticler-roma";
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  display: inline-block;
  li {
    display: inline-block;
    margin-right: 20px;
    color: white;
  }
}
a, a:hover, a:visited {
  text-decoration: none;
}
h2 {
  font-size: 24px;
}
.hero-container {
  margin-top: 50px;
  height: 600px;
  position: relative;
  @include clearfix;
  div.donate {
    position: fixed;
    width: 100px;
    top: 80px;
    right: 0;
    color: white;
    border-radius: 3px 0 0 3px;
    z-index: 10;
    padding: 10px 20px 10px 10px; 
    text-transform: uppercase;
    background-color: $basic-blue;
    box-shadow: 0px 4px 50px black;
    @include transition(padding-right 0.5s);
    &:hover {
      padding-right: 40px;
      @include transition(padding-right 0.5s);
      p {
        right: 40px;
        @include transition(right 0.5s);
      }
    }
    input.hidden {
      opacity: 0;
      height: 100%;
      width: 100%;
      border: none;
    }
    form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    p {
      display: inline-block;
      line-height: 13px;
      margin: 5px 0 0 8px;
      position: absolute;
      top: 8px;
      right: 20px;
      vertical-align: middle;
      @include transition(right 0.5s);
    }
    @media (max-width: $mobile) {
      position: fixed;
      top: 120px;
    }
  }
  img.logo {
    position: absolute;
    width: 150px;
    position: absolute;
    top: 40px;
    left: 70px;
    z-index: 4;
    @media (max-width: $mobile) {
      top: 100px;
      width: 200px;
    }
  }
  .container-right {
    display: inline-block;
    float: left;
    width: 37.5%;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: $mobile) {
      width: 100%;
      .border-left {
        display: none;
      }
    }
  }
  .container-top-left {
    display: inline-block;
    float: left;
    width: 62.5%;
    height: 50%;
    position: relative;
    img {
      width: 100%;
    }
    @media (max-width: $mobile) {
      display: none;
    }
    .border-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: $basic-blue;
      z-index: 1;
    }
  }
  .container-bottom-left {
    display: inline-block;
    float: left;
    width: 31.25%;
    height: 50%;
    img {
      width: 100%;
    }
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  .container-bottom-right {
    display: inline-block;
    float: left;
    background: $basic-blue;
    background-size: 100%;
    background-position: cover;
    float: left;
    width: 31.25%;
    height: 50%;
    @media (max-width: $mobile) {
      width: 100%;
      position: absolute;
      bottom: 0;
      opacity: 0.8;
      left: 0;
      height: 35%;
    }
    p {
      color: white;
      font-size: 30px;
      line-height: 1.3;
      padding: 5% 20%;
      @media (max-width: 1000px) {
							font-size: 20px;
						}
    }
    .border-left {
      display: inline-block;
      float: left;
      width: 3px;
      height: 100%;
      background-color: $basic-blue;
      z-index: 10;
    }
  }
  .border-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: $basic-blue;
    z-index: 5;
  }
}

.banner {
  height: 800px;
  width: 100%;
  position: relative;
  @media (max-width: 500px) {
			 height: auto;
		}
  > img {
    width: 100%;
  }

  .text-container {
    background: $basic-blue;
    opacity: 0.8;
    position: absolute;
    width: 300px;
    height: 100%;
    padding: 20px;
    top: 0;
    @media (max-width: 500px) {
					display: block;
					width: 100%;
					position: relative;
				}
    &.right {
      right: 0;
    }
    p {
      color: white;
      font-size: 18x;
      line-height: 1.5;
      margin: 0;
    }
  }
}
.about {
  box-shadow: 0px 4px 50px black;
  background: $basic-blue;
  width: 100%;
  height: 400px;
  @include clearfix;
  .trustees {
    display: inline-block;
    float: left;
    width: 40%;
    h2 {
      font-family: 34px;
      color: white;
      margin: 0;
      padding-top: 40px;
      margin-left: 10%;
    }
    ul {
      margin-left: 10%;
      margin-left: 30px;
      li {
        font-family: "chanticler-roma";
        font-size: 18px;
        color: white;
        display: block;
        line-height: 1.7;
      }
    }
    @media (max-width: $mobile) {
      width: 100%;
      display: block;
    }
  }
  #mission, .recent-press {
    display: inline-block;
    float: right;
    width: 50%;
    height: auto;
    padding-right: 10%;
    @media (max-width: $mobile) {
      width: 80%;
      display: block;
      padding: 0 10%;
    }
    h2 {
      text-transform: capitalize;
      color: white;
      margin-top: 40px;
    }
    p {
      color: white;
      line-height: 1.7;
    }
    a {
      color: white;
      font-size: 14px;
      line-height: 1.5;
      position: relative;
      clear: both;
      width: auto;
      margin-right: 20px;
      &:after {
        content: '';
        width: 0%;
        height: 3px;
        background: white;
        position: absolute;
        bottom: -3px;
        left: 0;
        @include transition(width 0.5s);
      }
      &:hover {
        &:after {
          width: 100%;
          @include transition(width 0.5s);
        }
      }
    }
  }
}
