header {
  background: #1C75BB;
  height: auto;
  line-height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 50px black;

  .site-nav {
    width: 100%;
    height: 50px;
    background: #1C75BB;
    @include clearfix;
    @media (max-width: 650px){
      display: none;
    }

    ul {
      height: 50px;
      margin-left: 0;
      margin: 0;
      float: left;
      li {
        text-transform: uppercase;
        font-family: "chanticler-roma";
        line-height: 50px;
        vertical-align: middle;
        display: inline-block;
        float: left;
        position: relative;
        @media (max-width: 500px ) {
          font-size: 12px;
        }
        span {
          position: relative;
          &:after {
            content: '';
            width: 0%;
            height: 3px;
            background: white;
            position: absolute;
            bottom: -3px;
            left: 0;
            @include transition(width 0.5s);
          }
          &:hover {
            &:after {
              width: 100%;
              @include transition(width 0.5s);
            }
          }
        }
        &.mission {
          height: auto;
        }
      }
      &.social {
        float: right;
        padding-left: 0;
								margin-right: 20px;
								display: inline-block;
								margin-top: 0;
								margin-bottom: 0px;
							 li {
								  color: white;
								  font-size: 16px;
		        a, a:hover {
		  	       font-size: 16px;
			         color: white;
		        }
		      }
      }
    }
  }
  .ham {
    line-height: 50px;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    display: none;
    margin-left: 20px;
    @media (max-width: 650px) {
      display: inline-block;
    }
    em {
      background: white;
      border-radius: 4px;
      margin: 3px 0;
      height: 8px;
      display: block;
      width: 100%;
    }
  }
  &.open {
    height: 100px;
    .site-nav {
      display: block;
      width: 100%;
      height: auto;
      .links {
        display: block;
        height: auto;
        padding-left: 100px;
        li {
          width: 50%;
          margin: 0;
          float: left;
          @media (max-width: 700px) {
          	float: none;
          	display: block;
          	width: 100%;
										}
        }
      }
      .social {
      }
    }
    .ham {
      position: absolute;
      top: 5px;
      z-index: 100;
      @media (max-width: 500px ) {
        position: absolute;
        em:first-child {
          @include transform(rotate(45deg));
          position: absolute;
          top: 12px;
        }
        em:last-child {
									 @include transform(rotate(135deg));
									 position: absolute;
									 top: 12px;
								}
								em:nth-child(2) {
									display: none;
								}
      }
    }
  }
}
