@charset "utf-8";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$basic-blue: #1C75BB;

$mobile:          600px;
$on-laptop:        800px;

@font-face {
  font-family: "chanticler-roma";
  src: url('/chanticler-roma/chanticleerromannf-bold-webfont.eot');
  src: url('/chanticler-roma/chanticleerromannf-bold-webfont#chanticler-roma') format('svg'),
       url('/chanticler-roma/chanticleerromannf-bold-webfont.otf') format('opentype'),
       url('/chanticler-roma/chanticleerromannf-bold-webfont.woff') format('woff'),
       url('/chanticler-roma/chanticleerromannf-bold-webfont.ttf') format('truetype')
}

@import 'bourbon';

@import "base",
        "header",
        "footer";