doctype 5
html
  head
    meta charset="utf-8"
    title the Summit Conservancy
    script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"


    script src="/javascript/all.js"
    link[rel="stylesheet"
         type="text/css"
         href="/stylesheets/main.css"]
    link [rel="stylesheet"
          type="text/css" 
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"]


  body
    == partial "header"
    .page-content
      == yield
    == partial "footer"
