header.site-header
  div.ham
    em
    em
    em
  nav.site-nav.open
    ul.links
      li.mission data-slug="mission" 
        span mission
      - data.name.banner.each do |k, b|
        li data-slug="#{b['slug']}"
         span = b['slug']
    ul.social
      li 
        a.fa.fa-facebook href="https://www.facebook.com/SummitConservancy"
      li 
        a.fa.fa-twitter href="https://www.twitter.com/NJConservancy"
