---
title: the Summit Conservancy
---

.hero-container
  .donate
    span.fa.fa-cc-paypal
    p donate
    form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
      input type="hidden" name="cmd" value="_s-xclick"
      input type="hidden" name="hosted_button_id" value="DAYPFB8D5SWA6"
      input type="submit" value="donate" class="hidden" src="#" border="0" name=""alt=""
      img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"

  img.logo src="./images/summitconservancylogo.png" alt=""
  .container-right
    img src="./images/passaic-stream.jpg"
    .border-left
  .container-top-left
    img src="./images/passaic-bridge.jpg"
    .border-bottom
  .container-bottom-left
    img src="images/passaic-woodpecker.jpg"
  .container-bottom-right
      p Working together to create a sustainable future
  .border-bottom

- data.name.banner.each do |k, b|
  .banner id="#{b['slug']}"
    img src="#{b['mainImage']['url']}"
    - if b['textRight']
      .text-container.right
        p = b['description']
    - else
      .text-container
        p = b['description']


.about
  #board.trustees
    h2 = data.name.board["3HXMlXIVwcYE2WUEco0QSO"].title
    ul
      li Amy Cairns
      li Ellen Dickson
      li Jordan Glatt
      li Jack Kelly
      li Jennifer Malone
      li Judith Mandelbaum
      li Nicholas Manoia
      li David Naidu
      li Jonathan Sacks
      li Karen Toulon


  #mission
    h2 = data.name.mission["2HqYr2n7JeE8qGEySKWCi0"].header
    p = data.name.mission["2HqYr2n7JeE8qGEySKWCi0"].body
  .recent-press
    h2 recent press
    ul
      - data.name.press.each do |k, b|
        li 
          a href="#{b['link']}" #{b["title"]}



